
html{
  background-image: url(../images/796843.png) no-repeat center fixed; 
}

/* :root {
  filter: invert(1) hue-rotate(180deg)
} */

body , html{
  background-image: url(../images/796843.png) !important; 
  color: #fafafb !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.navbar, .navbar-item, h1.subtitle{
  background-color: #3d4445; 
  color: #fafafb;
  /* background-color: #d0d9dd;
  color: #3d4445; */
}
.navbar, .navbar-item{
  font-family: 'Darker Grotesque', sans-serif;
}
img{
  max-height: 100%;
  max-width: 100%;
}

.notification a:not(.button):not(.dropdown-item){
  text-decoration: none;
}
.notification a:not(.button):not(.dropdown-item):hover{
  color:#629aaa;
}
a {
  color: #a3b5bd;
  text-decoration: none;
}
a:hover{
  color:#629aaa;
}
a.title.has-text-left:hover{
  color: #629aaa;
}
a.navbar-item:hover{
  background-color: #3d4445;
  /* background-color: #d0d9dd; */
  color: #629aaa;
}
a.title:hover{
  background-color: #3d4445;
  color: #629aaa;
}
.notification, #main, #framework{
  background-color: #3d4445;
  color: #fafafb;
  /* background-color: #d0d9dd;
  color: #3d4445; */
  /* max-width: 75%; */
}
.navbar-burger{
  color: #fafafb !important;

}

#nav-toggle.navbar-burger.nav-toggle.is-active{
  color: #fafafb;
 
}
 #projects{
  cursor: pointer;
}

body > footer {
  margin-top: auto;
}

.footer{
  background-color: #3d4445;
  padding: 1.5rem 1.5rem 1.5rem;
  position: bottom;
}
/* MEDIA QUERIES */
 
 @media (min-width: 769px) { 
  .columns.column{
    text-align: center;
    align-items: center;
  }
  a.navbar-item{
    text-align: center;
  }
  div.navbar-menu.is-active{
    background-color: #3d4445;
    /* background-color: #d0d9dd; */
  }
}

/* STYLING FOR THE LAB */
.cards{
  
  background-color: #3d4445;
  color: #fafafb;
}
h1.title{
  color: #fafafb;
}

@media (max-width: 900px){
  .columns.column{
    text-align: center;
    align-items: center;
  }
  a.navbar-item{
    
    text-align: center;
  }
  div.navbar-menu.is-active{
    background-color: #3d4445;
    /* background-color: #d0d9dd; */
  }
}

@media (max-width: 768px){
.columns.column{
  text-align: center;
  align-items: center;
}
a.navbar-item{
  
  text-align: center;
}
div.navbar-menu.is-active{
  background-color: #3d4445;
  /* background-color: #d0d9dd; */
}


}

@media (max-width: 1024px){
  /* #projectcards{
  text-align: center;
  align-items: center;
  } */
}


